.container-fluid {
  max-width: 1310px;
}

.main {
  padding: 20px 15px 0;
}

.title-link {
  font-size: 22px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 24px;
}

.inside {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.each_category {
  position: relative;
}

.position {
  position: absolute;
}

.category {
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 0;
}
